
<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="#">
                <img class="imgBarra" src="../assets/img/logo-menu.png" alt="">
    My Classic Car App 
        </a>
        <a class="navbar-brand mx-auto d-lg-none d-inline-block" href="#">
             <img class="imgBarra" src="../assets/img/logo-menu.png" alt="">
             My Classic Car App 
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/principal" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Principal <span class="sr-only">(current)</span></a>
                </li>
                                
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/todos" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Coches <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/carrusel" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Carrusel <span class="sr-only">(current)</span></a>
                </li>                
                            
                 <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/contacto" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Contacto <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/mantenimiento" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">Mantenimiento <span class="sr-only">(current)</span></a>
                </li>                               

        </ul>
    
    </div>
            
</nav>



